// Libre Franklin definitions.
@font-face {
	font-family: 'LibreFranklin';
	src: url('../fonts/librefranklin-bold-web.eot');
	src: url('../fonts/librefranklin-bold-web.eot?#iefix') format('embedded-opentype'),
		url('../fonts/librefranklin-bold-web.woff2') format('woff2'),
		url('../fonts/librefranklin-bold-web.woff') format('woff'),
		url('../fonts/librefranklin-bold-web.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'LibreFranklin';
	src: url('../fonts/librefranklin-light-web.eot');
	src: url('../fonts/librefranklin-light-web.eot?#iefix') format('embedded-opentype'),
		url('../fonts/librefranklin-light-web.woff2') format('woff2'),
		url('../fonts/librefranklin-light-web.woff') format('woff'),
		url('../fonts/librefranklin-light-web.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'LibreFranklin';
	src: url('../fonts/librefranklin-medium-web.eot');
	src: url('../fonts/librefranklin-medium-web.eot?#iefix') format('embedded-opentype'),
		url('../fonts/librefranklin-medium-web.woff2') format('woff2'),
		url('../fonts/librefranklin-medium-web.woff') format('woff'),
		url('../fonts/librefranklin-medium-web.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'LibreFranklin';
	src: url('../fonts/librefranklin-regular-web.eot');
	src: url('../fonts/librefranklin-regular-web.eot?#iefix') format('embedded-opentype'),
		url('../fonts/librefranklin-regular-web.woff2') format('woff2'),
		url('../fonts/librefranklin-regular-web.woff') format('woff'),
		url('../fonts/librefranklin-regular-web.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'LibreFranklin';
	src: url('../fonts/librefranklin-semibold-web.eot');
	src: url('../fonts/librefranklin-semibold-web.eot?#iefix') format('embedded-opentype'),
		url('../fonts/librefranklin-semibold-web.woff2') format('woff2'),
		url('../fonts/librefranklin-semibold-web.woff') format('woff'),
		url('../fonts/librefranklin-semibold-web.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}


// Roboto Condensed.
@font-face {
	font-family: 'RobotoCondensed';
	src: url('../fonts/robotocondensed-bold-web.eot');
	src: url('../fonts/robotocondensed-bold-web.eot?#iefix') format('embedded-opentype'),
		url('../fonts/robotocondensed-bold-web.woff2') format('woff2'),
		url('../fonts/robotocondensed-bold-web.woff') format('woff'),
		url('../fonts/robotocondensed-bold-web.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoCondensed';
	src: url('../fonts/robotocondensed-light-web.eot');
	src: url('../fonts/robotocondensed-light-web.eot?#iefix') format('embedded-opentype'),
		url('../fonts/robotocondensed-light-web.woff2') format('woff2'),
		url('../fonts/robotocondensed-light-web.woff') format('woff'),
		url('../fonts/robotocondensed-light-web.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoCondensed';
	src: url('../fonts/robotocondensed-regular-web.eot');
	src: url('../fonts/robotocondensed-regular-web.eot?#iefix') format('embedded-opentype'),
		url('../fonts/robotocondensed-regular-web.woff2') format('woff2'),
		url('../fonts/robotocondensed-regular-web.woff') format('woff'),
		url('../fonts/robotocondensed-regular-web.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Tick';
	src: url('../fonts/tick2-web.eot');
	src: url('../fonts/tick2-web.eot?#iefix') format('embedded-opentype'),
		url('../fonts/tick2-web.woff2') format('woff2'),
		url('../fonts/tick2-web.woff') format('woff'),
		url('../fonts/tick2-web.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


// Generated by Font Squirrel (https://www.fontsquirrel.com) on September 27, 2016.
